/* .field-container{

} */
body {
  font: normal Open Sans;
}
.field-container {
  margin-top: 15px;
  /* margin-bottom: 10px; */
}
.field-container input[type="text"] {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  opacity: 1;
  padding: 5px;
}
.field-select {
  width: 40%;
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  opacity: 1;
}
.field-date {
  width: 110px;
  height: 50px;
  margin: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0.16px;
  opacity: 0.5;
}
.file {
  height: 131px;
  background: #fcfafa 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
}
.file input[type="file"] {
  margin-top: 10%;
}
.desc {
  height: 131px;
}
.vl {
  border-left: 1px solid #ccc;
  height: 400px;
  margin-left: 35%;
}
button {
  width: 150px;
  height: 40px;
  border-radius: 4px;
  opacity: 1;
}
.next {
  background: #278df1 0% 0% no-repeat padding-box;
  border-color: #278df1;
  color: #ffffff;
}
.cancel {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #278df1;
  color: #278df1;
}
