* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
}

.form-field {
  position: absolute;
  top: 182px;
  left: 860px;
  width: 440px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #00000029;
  border-radius: 41px;
  opacity: 1;
}

h2 {
  position: relative;
  top: 50px;
  left: 120px;
  width: 192px;
  height: 30px;
  text-align: center;
  letter-spacing: 0.47px;
  color: #000000;
  opacity: 1;
}
.heading-para {
  position: relative;
  top: 40px;
  left: 50px;
  width: 340px;
  height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #808080;
  opacity: 1;
}
.input1 {
  position: relative;
  top: 70px;
  left: 50px;
}
.input2 {
  position: relative;
  top: 120px;
  left: 50px;
}
.sign-btn {
  position: absolute;
  top: 320px;
  left: 110px;
  width: 215px;
  height: 55px;
  border-style: none;
  border-color: white;
  background: #278df1 0% 0% no-repeat padding-box;
  border-radius: 28px;
  text-align: center;
  font: normal normal 18px Montserrat;
  letter-spacing: 1.8px;
  color: #ffffff;
  opacity: 0.79;
  transition: background-color 0.2s ease-in-out;
}
.message {
  width: 189px;
  height: 22px;
  text-align: left;
  font: normal normal normal 16px/26px Avenir;
  letter-spacing: 0.64px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
.signin-error-msg {
  position: relative;
  top: 230px;
  left: 50px;
}
