.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: white;
  padding: 1em;
  border-radius: 3%;
  border: 1px solid #707070;
  font: normal normal normal 16px/22px Open Sans;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #676767;
  padding-left: 50px;
  padding-top: 0%;
  margin-top: 0;
}

.popup h2 {
  margin-top: 0;
}

.popup label {
  font-weight: bold;
  margin-top: 1em;
}

.popup .button-group {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup button {
  margin-left: 1em;
  padding: 0.8em;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.theme-header {
  border-bottom: 1px solid rgb(220, 215, 215);
}
.cancel-button {
  float: right;
  font-size: larger;
  font: Helvetica Neue;
  cursor: pointer;
  position: relative;
  top: 26px;
  right: 20px;
}
.cancel-button:hover {
  outline: 1px dotted black;
}
.row1 {
  display: flex;
}
.row-items {
  margin-right: 180px;
}
#theme-mode {
  width: 350px;
  height: 30px;
}
.row2 {
  margin-right: 60px;
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
}
.theme-type-header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(236, 235, 235);
  margin-bottom: 20px;
}
.unique-row-item {
  margin-right: 122px;
}
.margin-bot-for-row2 {
  border-bottom: 1px solid rgb(240, 238, 238);
}
.bottom-padding {
  padding-bottom: 55px;
  border-bottom: 1px solid rgb(201, 199, 199);
  margin-bottom: 30px;
}
.cancelButton {
  border: 2px solid #707070;
  border-radius: 6px;
}
select {
  color: #676767;
  border: 1px solid #cccccc;
}
